/*Footer*/
.grid__footer {
    grid-area: footer;
    background: linear-gradient(180deg, #a3cbf7, whitesmoke);
    &__menu {
        background-image: url(../assets/recursos-centrojuvenil79/backgraund-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
    }
    &__contenedor {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}
