/*Header*/
.grid__menu {
    background-image:url("../assets/recursos-centrojuvenil79/fotos-slides/j79-25.1-21.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: header;

    img {
        width: 25%;
    }
    
}

