
$proyect-font: "Nunito", sans-serif;

/* colores 
principal: #38B6FF
principal 2: #C0C1BE
secundario: #FEEA00
secundario 2: #FC5130
negro: #050401
*/

$color-principal: #38B6FF;
$color-principal-2:   #C0C1BE;
$color-secundario: #FEEA00;
$color-secundario-2: #FC5130;
$color-black: #050401;

//mapas 
//map-get

$size-title:(
    title-princ: 3 rem,
    title-sec: 2.5 rem,
    title-text: 1.5 rem,
);

// poner un hover de color en los iconos de contactos de footer

$redes-sociales: (
    instagram: $color-black,
    whatsapp: $color-black,
    facebook: $color-black,
    //redes  ,  color

); 

@each $redes, $color in $redes-sociales {
    .bi-#{$redes} {
        color: $color;
        width: 16px;
        height:16px;
        margin: 16px;
        &:hover {
            box-shadow: 2px 2px 2px $color;
        }
    }
}