
$proyect-font: "Nunito", sans-serif;

/* colores 
principal: #38B6FF
principal 2: #C0C1BE
secundario: #FEEA00
secundario 2: #FC5130
negro: #050401
*/

$color-principal: #38B6FF;
$color-principal-2:   #C0C1BE;
$color-secundario: #FEEA00;
$color-secundario-2: #FC5130;
$color-black: #050401;

//mapas 
//map-get

$size-title:(
    title-princ: 3 rem,
    title-sec: 2.5 rem,
    title-text: 1.5 rem,
)
